workflows/ARP Cloud Remotion Pipeline (FIXED) - R2 private + signed URLs + Slack QA webhook publish (9).json
{
  "name": "ARP Cloud Remotion Pipeline (FIXED) - R2 private + signed URLs + Slack QA webhook publish",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 9,
              "weekday": "MON"
            },
            {
              "mode": "everyWeek",
              "hour": 9,
              "weekday": "THU"
            }
          ]
        }
      },
      "id": "8e7c843f-4073-448a-9488-0bad00d35dea",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        16272,
        26560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0710b038-603b-4d69-a46d-8cf328dbfd4e",
              "name": "renderApiBase",
              "value": "https://arp-remotion-renderer.onrender.com",
              "type": "string"
            },
            {
              "id": "cca93c79-91dc-4b22-bd3d-d7d974750410",
              "name": "r2Bucket",
              "value": "arp-video-renders",
              "type": "string"
            },
            {
              "id": "5c7144c2-bb41-4f61-9a0c-6ba8bbc13eb5",
              "name": "r2Prefix",
              "value": "={{ 'runs/arp_' + $now.toFormat('yyyyLLdd_HHmmss') }}",
              "type": "string"
            },
            {
              "id": "78098707-934e-4c18-9a0c-713978af8b9b",
              "name": "runId",
              "value": "={{ 'arp_' + $now.toFormat('yyyyLLdd_HHmmss') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e3ce1939-aa68-4e6e-8486-7326f7f6da5d",
      "name": "Set Manifest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16512,
        26560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are ARP StrategyAgent for the Automated Realty Playbook YouTube channel. Return ONLY valid JSON. No markdown. No commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a video strategy object for a faceless YouTube video about using AI in real estate. Output JSON with keys: topic, targetAudience, valueProposition, tone, videoLengthSeconds, keyPoints (string[]), complianceNotes (string[]), visualStyleNotes (string[]).\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "42cd7711-4e92-4311-bd54-d67595675b85",
      "name": "StrategyAgent (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16992,
        26560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iF7LYwDlfgvrprDp",
          "name": "Header Auth account 2"
        },
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content;\nif (!content) throw new Error(\"Missing OpenAI content\");\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error(\"StrategyAgent did not return valid JSON: \" + content);\n}\n\nreturn [{ json: { ...$json, strategy: parsed } }];"
      },
      "id": "bfb1464c-4e2a-48dd-a0b1-de23ea9fabe6",
      "name": "Parse Strategy JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17232,
        26560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are ARP OutlineAgent. Return ONLY valid JSON. No markdown. No commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Using this strategy JSON: {{$json.strategy}}, produce a detailed outline for a faceless YouTube video. Output JSON with keys: title, hook, sections (array of {title, bullets:string[]}), cta.\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "37b409d9-7324-4e4c-a016-1c98054dbf83",
      "name": "OutlineAgent (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17472,
        26560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iF7LYwDlfgvrprDp",
          "name": "Header Auth account 2"
        },
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content;\nif (!content) throw new Error(\"Missing OpenAI content\");\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error(\"OutlineAgent did not return valid JSON: \" + content);\n}\n\nreturn [{ json: { ...$json, outline: parsed } }];"
      },
      "id": "1454ea70-5696-4366-84f2-e56ec6da8992",
      "name": "Parse Outline JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17712,
        26560
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractText(j) {\n  return (\n    j?.output?.[0]?.content?.[0]?.text ??\n    j?.message?.content ??\n    j?.choices?.[0]?.message?.content ??\n    j?.body?.choices?.[0]?.message?.content ??\n    null\n  );\n}\n\nconst content = extractText($json);\nif (!content) throw new Error(\"Missing ScriptAgent content\");\n\nlet scriptPack;\ntry {\n  scriptPack = JSON.parse(content);\n} catch (e) {\n  throw new Error(\"ScriptAgent returned invalid JSON: \" + content);\n}\n\n// basic validation so you don't pass junk downstream\nif (!scriptPack.title || !scriptPack.narration) {\n  throw new Error(\"scriptPack.title or scriptPack.narration missing/empty\");\n}\n\nreturn [{\n  json: {\n    ...$json,\n    scriptPack\n  }\n}];"
      },
      "id": "61365347-6942-4262-9c32-50d8cd3ab6fd",
      "name": "Parse Script JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18736,
        26560
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const compliance = $json.compliance;\nconst scriptPack = $json.scriptPack;\n\nif (!compliance) throw new Error(\"Missing compliance on input\");\nif (!scriptPack) throw new Error(\"Missing scriptPack on input\");\n\n// Validate compliance structure\nif (typeof compliance.pass !== \"boolean\") {\n  throw new Error(`compliance.pass must be boolean, got: ${typeof compliance.pass}`);\n}\nif (!Array.isArray(compliance.issues)) {\n  compliance.issues = [];\n}\nif (!Array.isArray(compliance.fixes)) {\n  compliance.fixes = [];\n}\n\nconst fixed = { ...scriptPack };\n\n// Ensure affiliateDisclosure exists\nif (typeof fixed.affiliateDisclosure !== \"string\") fixed.affiliateDisclosure = \"\";\n\n// Apply field-based fixes from ComplianceAgent\nfor (const f of (compliance.fixes || [])) {\n  if (!f?.field || typeof f.with !== \"string\") continue;\n\n  if (f.field === \"disclaimer\") {\n    fixed.disclaimer = [fixed.disclaimer || \"\", f.with].filter(Boolean).join(\" \").trim();\n  } else if (f.field === \"affiliateDisclosure\") {\n    fixed.affiliateDisclosure = f.with.trim();\n  } else if (f.field === \"narration\") {\n    // Minimal safe approach: append (don't overwrite your whole narration)\n    fixed.narration = [fixed.narration || \"\", f.with].filter(Boolean).join(\" \").trim();\n  }\n}\n\n// Make sure requiredDisclaimers are present in disclaimer\nconst req = Array.isArray(compliance.requiredDisclaimers) ? compliance.requiredDisclaimers : [];\nfor (const d of req) {\n  if (typeof d === \"string\" && d.trim() && !String(fixed.disclaimer || \"\").includes(d.trim())) {\n    fixed.disclaimer = [fixed.disclaimer || \"\", d.trim()].filter(Boolean).join(\" \").trim();\n  }\n}\n\n// Make sure affiliate disclosure present if compliance wants it\nif (compliance.affiliateDisclosure && !fixed.affiliateDisclosure.trim()) {\n  fixed.affiliateDisclosure = String(compliance.affiliateDisclosure).trim();\n}\n\n// After applying all fixes, update pass status to true since fixes have been applied\nconst updatedCompliance = {\n  ...compliance,\n  pass: true  // Fixes have been applied, so mark as passing\n};\n\nreturn [{\n  json: {\n    ...$json,\n    scriptPack: fixed,\n    compliance: updatedCompliance\n  }\n}];"
      },
      "id": "a222be03-2e7f-48df-9c10-c601ccbe3721",
      "name": "Apply Compliance Fixes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20016,
        26560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "838a1cb2-062d-46fa-83eb-33b9fac18ac0",
              "leftValue": "={{ $json.compliance.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8f528ee-5ff3-4574-ba36-cc681405179b",
      "name": "Compliance Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        20256,
        26560
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"gpt-4o-mini-tts\",\n  voice: \"alloy\",\n  format: \"mp3\",\n  input: $json.scriptPack.narration\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "voiceover"
            }
          },
          "timeout": 300000
        }
      },
      "id": "f0552f90-ed54-457d-9c1e-df167d36af95",
      "name": "TTS Voiceover (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20608,
        26480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iF7LYwDlfgvrprDp",
          "name": "Header Auth account 2"
        },
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "srt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "voiceover"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "outputPropertyName": "srt"
            }
          },
          "timeout": 300000
        }
      },
      "id": "4cb20fb2-ac2b-4991-b3c9-2a81094821aa",
      "name": "Whisper Captions (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20848,
        26656
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iF7LYwDlfgvrprDp",
          "name": "Header Auth account 2"
        },
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e7d087a-4e06-4ee3-a7f9-f875c89493a6",
              "name": "captionsSrt",
              "value": "={{ $json.srt || $json.body || $json }}",
              "type": "string"
            },
            {
              "id": "bc6dc470-184c-4c82-9af1-041ee32165a8",
              "name": "bucket",
              "value": "={{ $json.r2Bucket }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "37d91aba-1cc8-4aac-8d79-8ec0b647eb4d",
      "name": "Set Captions SRT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        21088,
        26640
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "captionsbin",
        "options": {
          "fileName": "captions.srt",
          "mimeType": "text/plain"
        }
      },
      "id": "66f787c5-0b6f-4d8e-90d6-7c355b91b941",
      "name": "Captions Text → Binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        21328,
        26640
      ]
    },
    {
      "parameters": {
        "jsCode": "const outline = $('Parse Outline JSON').item.json.outline;\nconst scriptPack = $('Apply Compliance Fixes').item.json.scriptPack;\nconst r2Prefix = $('Set Manifest').item.json.r2Prefix;\n\nif (!outline) throw new Error(\"Missing outline\");\nif (!scriptPack) throw new Error(\"Missing scriptPack\");\n\nconst scenes = (outline.sections || []).map((s, idx) => ({\n  type: \"panel\",\n  headline: s.title || `Section ${idx + 1}`,\n  bullets: Array.isArray(s.bullets) ? s.bullets : [],\n  durationSeconds: 10\n}));\n\nconst props = {\n  video: {\n    title: outline.title || scriptPack.title || \"Automated Realty Playbook\",\n    subtitle: \"Luxury-tech AI real estate automation\",\n    theme: \"hybrid-luxury-tech\"\n  },\n  scenes,\n  audio: {\n    voiceoverKey: `${r2Prefix}/audio/vo.mp3`,\n    narration: scriptPack.narration\n  }\n};\n\nreturn [{ json: { ...$json, propsText: JSON.stringify(props) } }];"
      },
      "id": "b2da72f0-0e98-40f9-8dc8-b1d39cdb4a8d",
      "name": "Build Remotion Props (Long)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21088,
        26480
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "propsbin",
        "options": {
          "fileName": "props.long.json",
          "mimeType": "application/json"
        }
      },
      "id": "f0bf5d49-4a22-4630-9caa-04041098f144",
      "name": "Props Text → Binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        21328,
        26480
      ]
    },
    {
      "parameters": {},
      "id": "933cd11a-3f1f-4046-870d-593027f6c88c",
      "name": "Merge After Uploads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        21808,
        26560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').first().json.renderApiBase + '/render/long/start' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const runId = $json.runId;\n  const r2Prefix = $('Set Manifest').first().json.r2Prefix;\n  const r2Bucket = $('Set Manifest').first().json.r2Bucket; // if you have it\n\n  if (!runId) throw new Error('Render Long: runId is missing');\n  if (!r2Prefix) throw new Error('Render Long: r2Prefix is missing from Set Manifest');\n\n  return {\n    runId,\n    composition: 'ARP-Long-16x9',\n    bucket: r2Bucket,              // ✅ add this if your server supports it\n    r2Prefix,                      // ✅ add for server-side validation/logging\n    audioKey: `${r2Prefix}/audio/vo.mp3`,\n    propsKey: `${r2Prefix}/input/props.json`,\n    captionsKey: `${r2Prefix}/captions/en.srt`,\n    outputKey: `${r2Prefix}/final/final_16x9.mp4`,\n    logKey: `${r2Prefix}/logs/render_long.log`\n  };\n})() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "62600f07-22b4-414b-8f25-a751eef82055",
      "name": "Render Long (Render.com API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22224,
        26560
      ],
      "alwaysOutputData": false,
      "retryOnFail": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const outline = $('Parse Outline JSON').item.json.outline;\nconst scriptPack = $('Apply Compliance Fixes').item.json.scriptPack;\nconst r2Prefix = $('Set Manifest').item.json.r2Prefix;\nconst statusResponse = $json;\n\nif (!outline) throw new Error('Missing outline');\nif (!scriptPack) throw new Error('Missing scriptPack');\n\n// Extract signed URLs from the correct path\nconst videoUrl = statusResponse?.body?.signed?.videoUrl || statusResponse?.signed?.videoUrl || statusResponse?.videoUrl || '';\nconst logUrl = statusResponse?.body?.signed?.logUrl || statusResponse?.signed?.logUrl || statusResponse?.logUrl || '';\n\nif (!videoUrl) {\n  console.warn('Warning: videoUrl not found in response. Full response:', JSON.stringify(statusResponse, null, 2));\n}\n\nconst titleBase = outline?.title || scriptPack?.title || 'Automated Realty Playbook';\nconst youtubeTitle = titleBase.length > 95 ? titleBase.slice(0, 95) : titleBase;\n\nconst affiliateDisclosure = 'Disclosure: Some links may be affiliate links. I may earn a commission at no extra cost to you.';\n\nconst youtubeDescription = [\n  (outline?.hook ? outline.hook + '\\n' : ''),\n  'In this video, we break down practical ways to use AI to automate your real estate workflow—lead follow-up, listings, content, and deal analysis.',\n  '',\n  '✅ Subscribe for more AI + real estate automation.',\n  '',\n  affiliateDisclosure,\n  '',\n  (scriptPack?.disclaimer || 'Not legal, tax, or financial advice. Consult a professional.')\n].join('\\n');\n\nconst youtubeTags = [\n  'ai real estate',\n  'real estate automation',\n  'chatgpt real estate',\n  'real estate ai tools',\n  'automated realty playbook'\n];\n\nreturn $input.all().map(item => ({\n  json: {\n    runId: $('Set Manifest').item.json.runId,\n    r2Bucket: $('Set Manifest').item.json.r2Bucket,\n    r2Prefix,\n    videoUrl,\n    logUrl,\n    youtubeTitle,\n    youtubeDescription,\n    youtubeTags,\n    hashtags: ['#AI', '#RealEstate', '#Automation'],\n    pinnedComment: 'Want the free AI toolkit? Comment TOOLKIT and I will send it.',\n    affiliateDisclosure,\n    privacyStatus: 'private',\n    categoryId: '26'\n  },\n  pairedItem: item.pairedItem\n}));"
      },
      "id": "745e1587-493d-4452-b361-6625ad404c2b",
      "name": "Prepare YouTube Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23104,
        26560
      ]
    },
    {
      "parameters": {
        "jsCode": "const manifest = {\n  runId: $json.runId,\n  r2Bucket: $json.r2Bucket,\n  r2Prefix: $json.r2Prefix,\n  videoUrl: $json.videoUrl,\n  logUrl: $json.logUrl,\n  youtube: {\n    title: $json.youtubeTitle,\n    description: $json.youtubeDescription,\n    tags: $json.youtubeTags,\n    privacyStatus: $json.privacyStatus,\n    categoryId: $json.categoryId\n  }\n};\nreturn [{json: {...$json, manifestText: JSON.stringify(manifest)}, pairedItem: $input.item.pairedItem}];\n"
      },
      "id": "c8c44f8b-45cf-498e-a17d-5d4b83579200",
      "name": "Build Run Manifest JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23312,
        26560
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "manifestbin",
        "options": {
          "fileName": "manifest.json",
          "mimeType": "application/json"
        }
      },
      "id": "55614414-7d33-4669-8b1f-d87f32818e4c",
      "name": "Manifest Text → Binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        23520,
        26560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interaction-arp",
        "options": {}
      },
      "id": "d0429799-8ea4-42d4-914c-af689fe58af2",
      "name": "Slack Interaction Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        21792,
        26784
      ],
      "webhookId": "c8f66f85-740c-464a-ab7c-f6bd64c1335f"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nlet payloadStr = body.payload;\nif (!payloadStr && typeof body === 'string' && body.startsWith('payload=')) payloadStr = decodeURIComponent(body.slice('payload='.length));\nif (!payloadStr) throw new Error(\"Missing Slack interactivity payload\");\nconst payload = JSON.parse(payloadStr);\nconst raw = payload.actions?.[0]?.value || \"\";\nconst [status, runId] = raw.split(\"|\");\nif (!status || !runId) throw new Error(\"Missing status/runId in Slack button value\");\nreturn [{json: {status, runId, payload}}];\n"
      },
      "id": "3d48269e-a251-4b10-9b0b-aabcf7a6fde3",
      "name": "Parse Slack Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22032,
        26784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3db2e8a8-d793-4a9b-9dd0-a0b298ac03ff",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4a61e61-b584-4cc1-a9d1-36480d615ad5",
      "name": "Approved? (from Slack)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        22272,
        26784
      ]
    },
    {
      "parameters": {
        "sourceKey": "manifestfile",
        "options": {}
      },
      "id": "ca835424-6cc9-4501-86bc-459af058e769",
      "name": "Manifest Binary → JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        22736,
        26752
      ]
    },
    {
      "parameters": {
        "jsCode": "const m = $json;\nconst manifest = m.json || m;\nconst data = manifest;\n\nreturn [{\n  json: {\n    runId: data.runId,\n    videoUrl: data.videoUrl,\n    logUrl: data.logUrl,\n    youtubeTitle: data.youtube.title,\n    youtubeDescription: data.youtube.description,\n    youtubeTags: data.youtube.tags,\n    privacyStatus: data.youtube.privacyStatus,\n    categoryId: data.youtube.categoryId\n  }\n}];"
      },
      "id": "12a9a5e9-7df0-4b25-a7c6-8be927aaa591",
      "name": "Extract Manifest Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23152,
        26752
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file",
              "outputPropertyName": "video"
            }
          },
          "timeout": 600000
        }
      },
      "id": "71fd865d-9cba-4803-9611-49a5f86e2d4b",
      "name": "Download MP4 (Signed URL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        23552,
        26752
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.youtubeTitle }}",
        "regionCode": "US",
        "categoryId": "={{ $json.categoryId }}",
        "binaryPropertyName": "video",
        "options": {
          "description": "={{ $json.youtubeDescription }}",
          "privacyStatus": "={{ $json.privacyStatus }}",
          "tags": "={{ $json.youtubeTags }}",
          "madeForKids": false,
          "notifySubscribers": false
        }
      },
      "id": "1bf70294-2b3e-4432-898c-b5cc4a7ac37c",
      "name": "Upload to YouTube (private)",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        23792,
        26752
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "8NmKVwFt99D4b2An",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#video-qa-approval"
        },
        "text": "=❌ *VIDEO REJECTED*\\n\\n*Run ID:* {{ $json.runId }}\\n\\nNo YouTube upload performed.",
        "otherOptions": {}
      },
      "id": "fd9eb463-1788-46fb-b37f-f7a88d4d225c",
      "name": "Notify Rejection (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        22512,
        26880
      ],
      "webhookId": "6e144159-0722-4b2f-b0ef-3c09b217aa67",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qL4IeryFnVZudE32",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.renderApiBase + '/health' }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "0378e816-a9f7-488b-826c-fa30bab033cf",
      "name": "Render Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16752,
        26560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        19760,
        26576
      ],
      "id": "95242a2e-dd57-4de0-bdeb-2ced2722cd71",
      "name": "Merge Script + Compliance"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#video-qa-approval"
        },
        "messageType": "block",
        "blocksUi": "=[\n  {\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"🎬 ARP VIDEO READY FOR QA\"}},\n  {\"type\":\"section\",\"fields\":[\n    {\"type\":\"mrkdwn\",\"text\":\"*Run ID:*\\n{{ $json.runId }}\"},\n    {\"type\":\"mrkdwn\",\"text\":\"*Title:*\\n{{ $json.youtubeTitle }}\"}\n  ]},\n  {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Signed Video:*\\n<{{ $json.videoUrl }}|Open Rendered MP4>\\n*Logs:*\\n<{{ $json.logUrl }}|Open Render Log>\\n*Manifest:*\\n<{{ $json.manifestUrl }}|View Manifest>\"}},\n  {\"type\":\"divider\"},\n  {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"Approve to publish to YouTube (private). Reject to stop.\"}},\n  {\"type\":\"actions\",\"elements\":[\n    {\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"✅ Approve\"},\"style\":\"primary\",\"value\":\"approved|{{ $json.runId }}\",\"action_id\":\"approve_video\"},\n    {\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"❌ Reject\"},\"style\":\"danger\",\"value\":\"rejected|{{ $json.runId }}\",\"action_id\":\"reject_video\"}\n  ]}\n]",
        "text": "ARP video ready for QA",
        "otherOptions": {}
      },
      "id": "d500af72-2e3f-4dd9-b083-74c7a25182c7",
      "name": "Send QA Request Approval (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        24048,
        26560
      ],
      "webhookId": "46e22c95-c468-4fac-a9a3-1e6d43b99e07",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qL4IeryFnVZudE32",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const attempts = ($json.complianceAttempts ?? 0) + 1;\nconst max = 3;\n\nreturn [{\n  json: {\n    ...$json,\n    complianceAttempts: attempts,\n    complianceMax: max\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20464,
        26688
      ],
      "id": "9460f49b-8fd9-4229-a69e-99dcac61aa33",
      "name": "Increment Compliance Attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "90a38724-d48f-48f1-badd-af634b266e85",
              "leftValue": "={{ $json.complianceAttempts }}",
              "rightValue": "={{ $json.complianceMax }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        20608,
        26880
      ],
      "id": "a5164995-42cf-478d-96c6-77af99451d5b",
      "name": "Retries Left?",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function extractText(j) {\n  return (\n    j?.output?.[0]?.content?.[0]?.text ??\n    j?.output_text ??\n    j?.message?.content ??\n    j?.choices?.[0]?.message?.content ??\n    j?.body?.choices?.[0]?.message?.content ??\n    j?.data?.choices?.[0]?.message?.content ??\n    null\n  );\n}\n\nconst content = extractText($json);\nif (!content) {\n  throw new Error(\"Missing Rewrite Script OpenAI content (no text found in known fields)\");\n}\n\nlet scriptPack;\ntry {\n  scriptPack = typeof content === \"string\" ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error(\"Rewrite Script returned invalid JSON: \" + content);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    scriptPack\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21168,
        26848
      ],
      "id": "f3e25ed7-5bd5-41cd-95c8-cf37ed88de68",
      "name": "Parse Rewritten Script JSON"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A73PU9BT7",
          "mode": "list",
          "cachedResultName": "video-qa-approval"
        },
        "messageType": "block",
        "blocksUi": "=[\n  {\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"🚫 ARP Compliance Failed\"}},\n  {\"type\":\"section\",\"fields\":[\n    {\"type\":\"mrkdwn\",\"text\":\"*Run ID:*\\n{{ $json.runId }}\"},\n    {\"type\":\"mrkdwn\",\"text\":\"*Attempts:*\\n{{ $json.complianceAttempts }} / {{ $json.complianceMax }}\"}\n  ]},\n  {\"type\":\"divider\"},\n  {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Issues Found:*\\n{{ ($json.compliance?.issues || []).map(i => '• ' + i).join('\\\\n') }}\"}},\n  {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Required Disclaimers:*\\n{{ ($json.compliance?.requiredDisclaimers || []).map(d => '• ' + d).join('\\\\n') }}\"}},\n  {\"type\":\"divider\"},\n  {\"type\":\"context\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"Manual review required. Compliance checks exhausted.\"}]}\n]",
        "text": "ARP Compliance failed - manual review required",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        20832,
        27104
      ],
      "id": "26d7ad40-6246-4c29-b454-4fe1f0fa2704",
      "name": "Slack QA Fail (Manual Review)",
      "webhookId": "f1bf2716-1a57-4060-81f0-0d8a6d770db9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qL4IeryFnVZudE32",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert compliance editor for a faceless real estate YouTube channel.\n\nYou will receive:\n1) a scriptPack JSON (current draft)\n2) a compliance report listing issues + required disclaimers + affiliate disclosure\n\nTask:\n- Keep the SAME topic, structure, and intent.\n- Only rewrite language that triggers compliance issues (Fair Housing, discriminatory language, claims needing substantiation, platform safety).\n- Add required disclaimers and affiliate disclosure in a professional, concise way.\n- Do NOT add new sections beyond what exists, unless needed for disclaimers.\n- Do NOT remove the CTA; just make it compliant.\n- Output MUST be valid JSON only (no markdown, no commentary).\n"
            },
            {
              "content": "=Rewrite the scriptPack to pass compliance. Keep the SAME topic and structure. Only fix language/disclaimers. Preserve the exact schema.\n\nSchema to preserve:\n{\n  \"title\": string,\n  \"narration\": string,\n  \"onScreenText\": [{\"timestampHint\": string, \"text\": string}],\n  \"brollPrompts\": string[],\n  \"disclaimer\": string,\n  \"affiliateDisclosure\": string\n}\n\nCompliance issues:\n{{ ($json.compliance?.issues || []).join(\" | \") }}\n\nRequired disclaimers:\n{{ ($json.compliance?.requiredDisclaimers || []).join(\" | \") }}\n\nAffiliate disclosure (use if present):\n{{ $json.compliance?.affiliateDisclosure || \"\" }}\n\nCurrent scriptPack JSON:\n{{ JSON.stringify($json.scriptPack) }}\n\nReturn ONLY valid JSON for scriptPack, matching the exact schema above.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        20816,
        26848
      ],
      "id": "9fd4ffcb-5c21-47ef-baf8-01899754ff3d",
      "name": "Rewrite Script (Open AI)",
      "credentials": {
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are ARP ScriptAgent for a faceless real estate AI YouTube channel.\n\nReturn ONLY valid JSON (one object). No markdown. No commentary.\n\nDo not omit required keys. If uncertain, return empty strings or empty arrays.\n\nYou must strictly follow the schema."
            },
            {
              "content": "=Using this outline JSON, write the full voiceover script.\n\nPreserve the exact schema.\n\nOutline JSON:\n{{ $json.outline }}\n\nReturn a JSON object with EXACT keys:\n\n- title: string\n- narration: string\n- onScreenText: {timestampHint:string, text:string}[]\n- brollPrompts: string[]\n- disclaimer: string\n- affiliateDisclosure: string (empty string if none)\n\nRules:\n- narration should be 700–1100 words.\n- onScreenText should include 8–14 entries.\n- brollPrompts should include 8–14 prompts.\n- disclaimer must be professional and non-legal-advice.\n- Do NOT include any other keys."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "metadata": "{}",
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        18240,
        26560
      ],
      "id": "3f16cf65-fc20-48b9-bb3a-5cd577fdce7c",
      "name": "ScriptAgent (OpenAI)",
      "credentials": {
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are ARP ComplianceAgent for a faceless real estate YouTube channel.\n\nReturn ONLY valid JSON (one object).\nNo markdown.\nNo commentary.\n\nYou must evaluate:\n1) Fair Housing compliance\n2) FTC advertising and affiliate disclosures\n3) Platform-safe language\n4) Claims that require substantiation\n5) Disallowed or discriminatory phrasing\n\nYour job is to propose minimal fixes needed to pass compliance."
            },
            {
              "content": "=Evaluate this scriptPack JSON for compliance.\n\nYou must preserve the schema.\n\nSchema:\n{\n  \"title\": string,\n  \"narration\": string,\n  \"onScreenText\": [{\"timestampHint\": string, \"text\": string}],\n  \"brollPrompts\": string[],\n  \"disclaimer\": string,\n  \"affiliateDisclosure\": string\n}\n\nInput scriptPack JSON:\n{{ $json.scriptPack }}\n\nReturn a JSON object with EXACT keys:\n\n- pass: boolean (true or false, NOT a string \"true\" or \"false\")\n- issues: string[]\n- fixes: { field: \"narration\"|\"disclaimer\"|\"affiliateDisclosure\", with: string }[]\n- requiredDisclaimers: string[]\n- affiliateDisclosure: string (\"\" if none)\n\nRules:\n- Set pass:false if ANY issues, fixes, or required disclaimers are needed.\n- Set pass:true ONLY if zero issues found and the script is perfect as-is (no fixes needed).\n- If Equal Housing Opportunity language is required, add it to requiredDisclaimers and add a fix targeting \"disclaimer\".\n- If FTC affiliate disclosure is required, populate affiliateDisclosure and add a fix targeting \"affiliateDisclosure\".\n- The downstream \"Apply Compliance Fixes\" node will update pass to true after applying all fixes.\n- Minimal edits only.\n- CRITICAL: pass must be a boolean type (true/false), never a string."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        19088,
        26736
      ],
      "id": "424bbd87-b316-4ee8-a309-4407f95b2f7c",
      "name": "ComplianceAgent",
      "credentials": {
        "openAiApi": {
          "id": "sFXlYidzMmNMnAhG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractText(j) {\n  return (\n    j?.output?.[0]?.content?.[0]?.text ??          // OpenAI Chat node (common)\n    j?.output_text ??                              // some variants\n    j?.message?.content ??                         // some n8n variants\n    j?.choices?.[0]?.message?.content ??           // legacy chat.completions\n    j?.body?.choices?.[0]?.message?.content ??     // http request sometimes wraps in body\n    j?.data?.choices?.[0]?.message?.content ??     // other wrappers\n    null\n  );\n}\n\nconst content = extractText($json);\nif (!content) {\n  throw new Error(\"Missing ComplianceAgent content (no text found in known fields)\");\n}\n\nlet compliance;\ntry {\n  compliance = typeof content === \"string\" ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error(\"ComplianceAgent returned invalid JSON: \" + content);\n}\n\n// Validate and normalize the pass field\nif (typeof compliance.pass !== \"boolean\") {\n  // Attempt to coerce common string values\n  if (compliance.pass === \"true\") {\n    compliance.pass = true;\n  } else if (compliance.pass === \"false\") {\n    compliance.pass = false;\n  } else {\n    throw new Error(`compliance.pass must be boolean, got: ${typeof compliance.pass} = ${compliance.pass}`);\n  }\n}\n\n// Log for debugging (remove after testing)\nconsole.log(\"Compliance pass value:\", compliance.pass);\nconsole.log(\"Compliance pass type:\", typeof compliance.pass);\nconsole.log(\"Full compliance object:\", JSON.stringify(compliance, null, 2));\n\n// IMPORTANT: always return { json: { ... } }\nreturn [{\n  json: {\n    ...$json,\n    compliance\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19440,
        26736
      ],
      "id": "2d1e57ba-ffb6-46eb-9064-91fa6a8ce279",
      "name": "Parse Compliance JSON",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const runId = $('Set Manifest').item.json.runId;\nconst r2Prefix = $('Set Manifest').item.json.r2Prefix;\n\nif (!runId) {\n  throw new Error('Missing runId for render request');\n}\nif (!r2Prefix) {\n  throw new Error('Missing r2Prefix for render request');\n}\n\nconsole.log('Validation passed for Render Long. runId:', runId);\nconsole.log('r2Prefix:', r2Prefix);\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, runId, r2Prefix },\n  pairedItem: item.pairedItem\n}));"
      },
      "id": "f7d21ba9-90fb-421a-973d-5890b777b909",
      "name": "Validate Before Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22032,
        26560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate videoUrl before download\nif (!$json.videoUrl) {\n  throw new Error(\"Missing videoUrl from manifest\");\n}\n\n// Check if URL is valid\nconst urlPattern = /^https?:\\/\\/.+/;\nif (!urlPattern.test($json.videoUrl)) {\n  throw new Error(`Invalid videoUrl format: ${$json.videoUrl}`);\n}\n\nconsole.log(\"Validation passed for video download. URL:\", $json.videoUrl);\nreturn [$json];"
      },
      "id": "e2d8e670-5854-4573-98e2-aa9fa5dbfc10",
      "name": "Validate Before Download MP4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23328,
        26752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').item.json.renderApiBase + '/api/r2/upload' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Set Manifest').item.json.r2Prefix + '/input/props.json' }}"
            },
            {
              "name": "bucket",
              "value": "={{ $('Set Manifest').item.json.r2Bucket }}"
            },
            {
              "name": "contentType",
              "value": "application/json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "propsbin"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        21568,
        26480
      ],
      "id": "c4a5c3fa-2195-4a2d-87b8-ba3af9468982",
      "name": "R2 Upload Props (Proxy)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').item.json.renderApiBase + '/api/r2/upload' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Set Manifest').item.json.r2Prefix + '/audio/vo.mp3' }}"
            },
            {
              "name": "bucket",
              "value": "={{ $('Set Manifest').item.json.r2Bucket }}"
            },
            {
              "name": "contentType",
              "value": "audio/mpeg"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "voiceover"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20848,
        26480
      ],
      "id": "470c2491-4dec-45bc-82fa-7018d5eaaa3f",
      "name": "R2 Upload Voiceover (Proxy)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').item.json.renderApiBase + '/api/r2/upload' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Set Manifest').item.json.r2Prefix + '/captions/en.srt' }}"
            },
            {
              "name": "bucket",
              "value": "={{ $('Set Manifest').item.json.r2Bucket }}"
            },
            {
              "name": "contentType",
              "value": "text/plain"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "captionsbin"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        21568,
        26640
      ],
      "id": "9f883474-809c-4def-9fac-ab90ad26fa55",
      "name": "R2 Upload Captions (Proxy)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').item.json.renderApiBase + '/api/r2/download' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { bucket: $('Set Manifest').item.json.r2Bucket, key: $('Set Manifest').item.json.r2Prefix + '/manifest.json' } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "manifestfile"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        22512,
        26752
      ],
      "id": "d6c79074-dbd6-49aa-989c-95f8eeeeaec3",
      "name": "R2 Download Manifest (Proxy)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Manifest').item.json.renderApiBase + '/api/r2/upload' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Set Manifest').item.json.r2Prefix + '/manifest.json' }}"
            },
            {
              "name": "bucket",
              "value": "={{ $('Set Manifest').item.json.r2Bucket }}"
            },
            {
              "name": "contentType",
              "value": "application/json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "manifestbin"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        23696,
        26560
      ],
      "id": "8152a19d-f8d5-40af-97d8-95eb5d5c2d66",
      "name": "R2 Upload Manifest (Proxy)"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.response || $json.data || $json;\nlet manifestUrl = '';\n\nif (typeof response === 'string') {\n  try {\n    const parsed = JSON.parse(response);\n    manifestUrl = parsed.url || parsed.signedUrl || parsed.manifestUrl || '';\n  } catch (e) {\n    manifestUrl = '';\n  }\n} else {\n  manifestUrl = response?.url || response?.signedUrl || response?.manifestUrl || '';\n}\n\nif (!manifestUrl) {\n  throw new Error('manifestUrl missing from R2 Upload Manifest (Proxy) response. Response: ' + JSON.stringify(response));\n}\n\nconst manifestData = $('Build Run Manifest JSON').item.json;\n\nreturn [{\n  json: {\n    ...manifestData,\n    manifestUrl\n  },\n  pairedItem: $input.item.pairedItem\n}];"
      },
      "id": "b21df391-3ac0-4d99-97f4-8ba96f2b1e85",
      "name": "Extract ManifestUrl & Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23872,
        26560
      ]
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        22464,
        26560
      ],
      "id": "f4585dd8-7a4f-41a4-9d6e-6ee4e0759406",
      "name": "Wait",
      "webhookId": "0b8f1eeb-4c97-4e84-9f2e-acee28a067f0",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://arp-remotion-renderer.onrender.com/render/status/' + $node[\"Render Long (Render.com API)\"].json.jobId + '?runId=' + $node[\"Render Long (Render.com API)\"].json.runId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        22640,
        26560
      ],
      "id": "1981cca4-296f-4fc8-973b-7f48e36ce812",
      "name": "Request Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "760ed212-7088-4da0-81cb-10f01fac515f",
              "leftValue": "{{$json.body.job.status}}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        22848,
        26560
      ],
      "id": "9fd4c984-19b5-4b2d-8fa2-6865ee6778bb",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Set Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manifest": {
      "main": [
        [
          {
            "node": "Render Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StrategyAgent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Strategy JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy JSON": {
      "main": [
        [
          {
            "node": "OutlineAgent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutlineAgent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Outline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outline JSON": {
      "main": [
        [
          {
            "node": "ScriptAgent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script JSON": {
      "main": [
        [
          {
            "node": "Merge Script + Compliance",
            "type": "main",
            "index": 0
          },
          {
            "node": "ComplianceAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Compliance Fixes": {
      "main": [
        [
          {
            "node": "Compliance Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Pass?": {
      "main": [
        [
          {
            "node": "TTS Voiceover (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Compliance Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Voiceover (OpenAI)": {
      "main": [
        [
          {
            "node": "Whisper Captions (OpenAI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "R2 Upload Voiceover (Proxy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Captions (OpenAI)": {
      "main": [
        [
          {
            "node": "Set Captions SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Captions SRT": {
      "main": [
        [
          {
            "node": "Captions Text → Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remotion Props (Long)": {
      "main": [
        [
          {
            "node": "Props Text → Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Uploads": {
      "main": [
        [
          {
            "node": "Validate Before Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Before Render": {
      "main": [
        [
          {
            "node": "Render Long (Render.com API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Long (Render.com API)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare YouTube Metadata": {
      "main": [
        [
          {
            "node": "Build Run Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Manifest JSON": {
      "main": [
        [
          {
            "node": "Manifest Text → Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manifest Text → Binary": {
      "main": [
        [
          {
            "node": "R2 Upload Manifest (Proxy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Interaction Webhook": {
      "main": [
        [
          {
            "node": "Parse Slack Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slack Approval": {
      "main": [
        [
          {
            "node": "Approved? (from Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved? (from Slack)": {
      "main": [
        [
          {
            "node": "R2 Download Manifest (Proxy)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Rejection (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manifest Binary → JSON": {
      "main": [
        [
          {
            "node": "Extract Manifest Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Manifest Fields": {
      "main": [
        [
          {
            "node": "Validate Before Download MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Before Download MP4": {
      "main": [
        [
          {
            "node": "Download MP4 (Signed URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MP4 (Signed URL)": {
      "main": [
        [
          {
            "node": "Upload to YouTube (private)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Health Check": {
      "main": [
        [
          {
            "node": "StrategyAgent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Script + Compliance": {
      "main": [
        [
          {
            "node": "Apply Compliance Fixes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Compliance Attempt": {
      "main": [
        [
          {
            "node": "Retries Left?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retries Left?": {
      "main": [
        [
          {
            "node": "Rewrite Script (Open AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack QA Fail (Manual Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rewritten Script JSON": {
      "main": [
        [
          {
            "node": "Apply Compliance Fixes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Script (Open AI)": {
      "main": [
        [
          {
            "node": "Parse Rewritten Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScriptAgent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComplianceAgent": {
      "main": [
        [
          {
            "node": "Parse Compliance JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Compliance JSON": {
      "main": [
        [
          {
            "node": "Merge Script + Compliance",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract ManifestUrl & Merge": {
      "main": [
        [
          {
            "node": "Send QA Request Approval (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Manifest (Proxy)": {
      "main": [
        [
          {
            "node": "Extract ManifestUrl & Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Props (Proxy)": {
      "main": [
        [
          {
            "node": "Merge After Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Captions (Proxy)": {
      "main": [
        [
          {
            "node": "Merge After Uploads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Captions Text → Binary": {
      "main": [
        [
          {
            "node": "R2 Upload Captions (Proxy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Props Text → Binary": {
      "main": [
        [
          {
            "node": "R2 Upload Props (Proxy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Download Manifest (Proxy)": {
      "main": [
        [
          {
            "node": "Manifest Binary → JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R2 Upload Voiceover (Proxy)": {
      "main": [
        [
          {
            "node": "Build Remotion Props (Long)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Request Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare YouTube Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aec7f916-700a-4285-ba7e-50daa616b265",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa57cd8bf87d2ef8598f0e0ac0a0aa00bfb4f0a4b9522b618994acafa0ec2478"
  },
  "id": "FgcFYONkpEq1Vq3N",
  "tags": []
}